<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhxp.web.mapper.StudentMapper">
	<resultMap id="BaseResultMap" type="com.zhxp.web.entity.Student">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="stu_no" property="no" jdbcType="VARCHAR"/>
		<result column="stu_name" property="name" jdbcType="VARCHAR"/>
		<result column="stu_sex" property="sex" jdbcType="INTEGER"/>
		<result column="stu_department" property="department" jdbcType="INTEGER"/>
		<result column="stu_class" property="_class" jdbcType="INTEGER"/>
		<result column="stu_pwd" property="password" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Colmmn_List">
		id, stu_name, stu_no, stu_sex, stu_department, stu_class, stu_pwd
	</sql>
	<!-- findAll -->
	<select id="getStudentList" resultMap="BaseResultMap">
		select
		     <include refid="Base_Colmmn_List"/>
		from
		    student_info
		order by
		   id
		desc
	</select>

	<insert id="insert" parameterType="com.zhxp.web.entity.Student">
		insert into student_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="no!=null">
				stu_no,
			</if>
			<if test="name!=null">
				stu_name,
			</if>
			<if test="sex!=null">
				stu_sex,
			</if>
			<if test="department!=null">
				stu_department,
			</if>
			<if test="_class!=null">
				stu_class,
			</if>
			<if test="password!=null">
				stu_pwd,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="no!=null">
				#{no, jdbcType=VARCHAR},
			</if>
			<if test="name!=null">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="sex!=null">
				#{sex, jdbcType=INTEGER},
			</if>
			<if test="department!=null">
				#{department, jdbcType=INTEGER},
			</if>
			<if test="_class!=null">
				#{_class, jdbcType=INTEGER},
			</if>
			<if test="password!=null">
				#{password, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="java.lang.Integer">
		update student_info
		<set>
			<if test="no!=null">
				stu_no = #{no, jdbcType=VARCHAR},
			</if>
			<if test="name!=null">
				stu_name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="sex!=null">
				stu_sex = #{sex, jdbcType=INTEGER},
			</if>
			<if test="department!=null">
				stu_department = #{department, jdbcType=INTEGER},
			</if>
			<if test="_class!=null">
				stu_class = #{_class, jdbcType=INTEGER},
			</if>
			<if test="password!=null">
				stu_pwd = #{password, jdbcType=VARCHAR},
			</if>
		</set>
		where
		   id = #{id, jdbcType=INTEGER}
	</update>


	<delete id="delete">
		delete from student_info where id = #{id, jdbcType=INTEGER}
	</delete>


	

</mapper>